<table width="30%" class="table table-striped">
  <thead>
  	<tr>
  		<th>Despesa</th>
  		<th>Valor</th>
  	</tr>
  </thead>

  <tbody> 
  	<tr>
  		<td>Corridas</td>
  		<td><%= number_to_currency(@running, unit: "R$ ", separator: ",", delimiter: ".") %></td>
  	</tr>
  	<tr>
      <td>Combustivel</td>
      <td><%= number_to_currency(@fuel, unit: "R$ ", separator: ",", delimiter: ".") %></td>
    </tr>

		<tr>
      <td>Lavagem</td>
      <td><%= number_to_currency(@wash, unit: "R$ ", separator: ",", delimiter: ".") %></td>
		</tr>

		<tr>
      <td>Telefone</td>			
      <td><%= number_to_currency(@fone, unit: "R$ ", separator: ",", delimiter: ".") %></td>
		</tr>

    <td><strong>Saldo Total</strong> </td>
    <td><strong> <%= number_to_currency(@summary, unit: "R$ ", separator: ",", delimiter: ".") %></strong></td>
  </tbody>
</table>
