<h1>Consultar saldo diário</h1>

<%= form_tag(search_account_path, :method => "post") do |f| %>

	<div class="form-group">
	  <div id="date_calendar" >
	   <%= text_field_tag :date_calendar_now, "", class: "form-control datepicker" %>

		</div>
	</div>

	<div class="form-group">
	 <%= submit_tag "Enviar" %>
	</div>

<% end %>

<p>

  <%= link_to 'New Current account', new_current_account_path, class: "btn btn-primary btn-sm btn-block" %>
  <%= link_to 'Listing Current Account', current_accounts_path, class: "btn btn-default btn-sm btn-block" %>
  
</p>

<div class="container">
    <div id="content">
        <ul id="tabs" class="nav nav-pills nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#red" data-toggle="tab">Saldo Diario</a></li>
            <li><a href="#orange" data-toggle="tab">Por Conta</a></li>
            <li><a href="#credit" data-toggle="tab">Creditos/Custos</a></li>
        </ul>
        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="red">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Data</th>
                    <th>Valor</th>
                  </tr>
                </thead>
            
                <tbody> 
                  <% @current_accounts.sort_by do |current_account| [0] %>
                    <tr>
                      <td><%= date_br(current_account[0]) %></td>
                      <td><%= number_to_currency(current_account[1], unit: "R$ ", separator: ",", delimiter: ".") %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <td>Total:</td>
                    <td> <strong><%= number_to_currency(@total_accounts, unit: "R$ ", separator: ",", delimiter: ".") %></strong> </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane" id="orange">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Conta</th>
                      <th>Valor</th>
                    </tr>
                  </thead>
             
                  <tbody> 
                    <% CurrentAccount.cash_accounts.each do |current_account| %>
                      <tr>
                        <td><%= current_account.name_account %></td>
                        <td><%= number_to_currency(CurrentAccount.where(cash_account_id: current_account[:cash_account_id]).saldo, unit: "R$ ", separator: ",", delimiter: ".") %></td>
                      </tr>
                    <% end %>
                    <td><strong>Saldo Total</strong> </td>
                    <td><strong> <%= number_to_currency(CurrentAccount.saldo, unit: "R$ ", separator: ",", delimiter: ".") %></strong></td>
                  </tbody>
                </table>
            </div>
            <div class="tab-pane" id="credit">
                <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Data</th>
                    <th>Valor</th>
                  </tr>
                </thead>
            
                <tbody> 
                  <% @current_account_credits.sort_by do |current_account| [0] %>
                    <tr>
                      <td><%= date_br(current_account[0]) %></td>
                      <td><%= number_to_currency(current_account[1], unit: "R$ ", separator: ",", delimiter: ".") %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <td>Total:</td>
                    <td> <strong><%= number_to_currency(@total_credits, unit: "R$ ", separator: ",", delimiter: ".") %></strong> </td>
                  </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      language: 'pt-BR'
    });
  });
</script>
